/* You can add global styles to this file, and also import other style files */
@import 'material-icons/iconfont/material-icons.css';
@font-face {
    font-family: 'Abel';
    src: url('../assets/fonts/Abel.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Parkinsas';
    src: url('../assets/fonts/Parkinsas.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
body{
    font-size: 15px;
    font-family: 'Parkinsas', Arial, sans-serif;
    background-color: rgba(128, 128, 128, 0.055);
}
