<div class="_container">

    <p-dataView #dv [value]="workItemsToShow()" [totalRecords]="totalCount()" [alwaysShowPaginator]="true"
        [paginator]="true" [rowsPerPageOptions]="[10, 25, 50, 100, 250, 500]" [showCurrentPageReport]="true"
        [pageLinks]="5" [showPageLinks]="true" [sortField]="sortField" [sortOrder]="sortOrder" [lazy]="true"
        [emptyMessage]="'Nincs elérhető adat'" [paginatorDropdownAppendTo]="'body'" [rows]="filter.limit"
        [page]="filter.offset" (onPage)="onPageChange($event)" filterBy="name" layout="list">
        <ng-template pTemplate="header">
            <div class="row  m-0 w-100" style="display: flex; align-items: center; padding: 8px 0px">
                <div class="col p-0 m-0 w-100" style="display: flex">
                    <div style="margin: 0px 5px">
                        <span class="p-input-icon-left" style="width: 100%">
                            <i class="pi pi-search"></i>
                            <input style="width: 100%; height: 30px;" type="text" pInputText [value]="textFilter()"
                                (input)="onInputChange($event)" />
                        </span>
                    </div>
                </div>
                <div class="col p-0 m-0 w-100" style="display: flex">
                    <div style="margin: 0px 5px">
                        <p-multiSelect styleClass="override-this" [options]="getNames()"
                            [emptyFilterMessage]="'Nincs megjeleníthető adat'" [(ngModel)]="selectedNames"
                            [showHeader]="true" [ariaFilterLabel]="'Keresés'" [filter]="true" [showToggleAll]="true"
                            optionLabel="name" placeholder="Feladat" [filterBy]="'name'"
                            [selectedItemsLabel]="selectedNames.length ? selectedNames.length + ' kiválasztva' : ''"
                            [loading]="false" [virtualScroll]="true" [virtualScrollItemSize]="32"
                            (onChange)="filterData()">


                            <ng-template let-element pTemplate="footer">
                                <div class="py-2 px-3">
                                    <b>
                                        {{ selectedNames ? selectedNames.length : 0 }}
                                    </b>
                                    elem{{ (selectedNames ? selectedNames.length : 0) > 1 ? 's' : '' }} kiválasztva.
                                </div>
                            </ng-template>
                        </p-multiSelect>
                    </div>
                </div>
                <div class="col-2 p-0 m-0 w-100" style="display: flex">
                    <div style="margin: 0px 5px; width: 100%">
                        <p-multiSelect styleClass="override-this" [options]="statuses"
                            [emptyFilterMessage]="'Nincs megjeleníthető adat'" [(ngModel)]="selectedCities"
                            [showHeader]="true" [ariaFilterLabel]="'Keresés'" [filter]="true" [showToggleAll]="true"
                            optionLabel="name" placeholder="Típus" [filterBy]="'name'"
                            [selectedItemsLabel]="selectedCities.length ? selectedCities.length + ' kiválasztva' : ''"
                            [loading]="false" [virtualScroll]="true" [virtualScrollItemSize]="32"
                            (onChange)="filterData()">

                            <ng-template let-statusess pTemplate="status">
                                <div class="item-status" style="width: 100% !important"
                                    [ngStyle]="{'background-color': taskUI.getStateBackgroundColor(statusess.value)}">
                                    <div [ngStyle]="{'color': taskUI.getStateColor(statusess.value)}">
                                        {{taskUI.getStateString(statusess.value)}}
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template let-element pTemplate="footer">
                                <div class="py-2 px-3">
                                    <b>
                                        {{ selectedCities ? selectedCities.length : 0 }}
                                    </b>
                                    elem{{ (selectedCities ? selectedCities.length : 0) > 1 ? 's' : '' }} kiválasztva.
                                </div>
                            </ng-template>
                        </p-multiSelect>
                    </div>
                </div>
                <div class="col-2 p-0 m-0 w-100" style="display: flex">
                    <div style="margin: 0px 5px ;width: 100%">
                        <p-multiSelect styleClass=" override-this" [options]="statuses"
                            [emptyFilterMessage]="'Nincs megjeleníthető adat'" [(ngModel)]="selectedCities"
                            [showHeader]="true" [ariaFilterLabel]="'Keresés'" [filter]="true" [showToggleAll]="true"
                            optionLabel="name" placeholder="Státusz" [filterBy]="'name'"
                            [selectedItemsLabel]="selectedCities.length ? selectedCities.length + ' kiválasztva' : ''"
                            [loading]="false" [virtualScroll]="true" [virtualScrollItemSize]="32"
                            (onChange)="filterData()">

                            <ng-template let-statusess pTemplate="status">
                                <div class="item-status" style="width: 100% !important"
                                    [ngStyle]="{'background-color': taskUI.getStateBackgroundColor(statusess.value)}">
                                    <div [ngStyle]="{'color': taskUI.getStateColor(statusess.value)}">
                                        {{taskUI.getStateString(statusess.value)}}
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template let-element pTemplate="footer">
                                <div class="py-2 px-3">
                                    <b>
                                        {{ selectedCities ? selectedCities.length : 0 }}
                                    </b>
                                    elem{{ (selectedCities ? selectedCities.length : 0) > 1 ? 's' : '' }} kiválasztva.
                                </div>
                            </ng-template>
                        </p-multiSelect>
                    </div>
                </div>
                <div style="display: flex">
                    <div style="margin: 0px 5px; width: 100%; display: flex;"> <p-button
                            style="height: 30px !important;" [label]=" clearFilterButtonLabel" [outlined]="true"
                            icon="pi pi-filter-slash" (click)="clearFilter()"></p-button></div>
                    <div style="margin: 0px 5px; width: 100%; display: flex;"> <p-button
                            style="height: 30px !important;" [label]="addTaskButtonLabel" [outlined]="true"
                            icon="pi pi-plus" (click)="navigateTo('edit', '0')"></p-button></div>
                    <!-- <div style="margin: 0px 5px; width: 100%; "> <p-button [label]="'testpost'" [outlined]="true"
                            icon="pi pi-filter-slash" (click)="testpost()"></p-button></div> -->
                </div>
            </div>

            <div class="col-12 p-0 m-0 item-header-container "
                style="padding: 10px 34px 10px 12px !important; border-right: none !important;">
                <div class="item-container">

                    <div class="item-list-item item-list-item-head">
                        <div style=" cursor: pointer; display: flex; gap: 10px; align-items: center;"
                            (click)="sortBy('id')">
                            ID
                            <i class="pi" [ngClass]="{
                    'pi-sort-amount-up': sortField === 'id' && sortOrder === 1,
                    'pi-sort-amount-down': sortField === 'id' && sortOrder === -1
                  }" [ngStyle]="{'color': sortField === 'id' ? (sortOrder === 1 ? 'green' : 'blue') : 'inherit'}">
                            </i>
                        </div>
                        <div style="cursor: pointer; display: flex; gap: 10px; align-items: center;"
                            (click)="sortBy('title')">
                            Név
                            <i class="pi" [ngClass]="{
                    'pi-sort-amount-up': sortField === 'title' && sortOrder === 1,
                    'pi-sort-amount-down': sortField === 'title' && sortOrder === -1
                  }" [ngStyle]="{'color': sortField === 'title' ? (sortOrder === 1 ? 'green' : 'blue') : 'inherit'}">
                            </i>
                        </div>
                        <div>Leírás</div>
                        <div style="width: 70px; cursor: pointer; display: flex; gap: 10px; align-items: center;"
                            (click)="sortBy('status')">
                            Státusz
                            <i class="pi" [ngClass]="{
                    'pi-sort-amount-up': sortField === 'status' && sortOrder === 1,
                    'pi-sort-amount-down': sortField === 'status' && sortOrder === -1
                  }" [ngStyle]="{'color': sortField === 'status' ? (sortOrder === 1 ? 'green' : 'blue') : 'inherit'}">
                            </i>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template let-workItemList pTemplate="listItem">
            <div class="col-12 p-0 m-0 item-list-container" [ngStyle]="{'border-right': taskUI.getTypeColor(item.type)}"
                *ngFor="let item of workItemList">
                <div class="item-container">



                    <div class="item-list-item">
                        <div class="item-id">{{item.id}}</div>
                        <div class="item-name" style="max-width: 300px;">{{item.title}}</div>
                        <div class="item-name" *ngIf="isMobile()">{{item.description}}</div>
                        <div style="width: 70px;
                display: flex
            ;
                gap: 10px;
                align-items: center;
                ">

                            <div class="item-status"
                                [ngStyle]="{'background-color': taskUI.getStateBackgroundColor(item.status)}">
                                <div [ngStyle]="{'color': taskUI.getStateColor(item.status)}">
                                    {{taskUI.getStateString(item.status)}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="width: 100px; align-items: right; right:-5px;" class="item-id visibleIcons">
                        <span class="material-icons listview" style="color: rgb(255, 255, 255)"
                            (click)="navigateTo('view', item.id)">visibility</span>
                        <span class="material-icons listview" style="color: rgb(255, 255, 255)"
                            (click)="navigateTo('edit', item.id)">edit</span>
                        <span class="material-icons listview" style="color: rgb(255, 255, 255)"
                            (click)="onDeleteTask($event, item)">delete</span>
                    </div>
                </div>
            </div>
        </ng-template>

    </p-dataView>


</div>


<p-toast />
<p-confirmDialog [acceptLabel]="'Igen'" [rejectLabel]="'Mégse'" />