
.container{
  height: calc(100vh - 20px);
  max-height: 100vh;
  overflow: hidden;
}
.tborder{
  border-radius: 10px !important;
}
.p-datatable-wrapper{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
p-paginator, .p-paginator{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.card{
  max-height: 100vh
}
.page-title{
    font-size: xx-large;
    font-weight: 600;
}
.page-subtitle{
    font-size: small;
}
.task-table{
    height: 100%;
    width: 100%;
}
.w-100{
  width: 100% !important;
}

.task-table-head-column{
    align-items: center;
    justify-content: start;
>div{
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
}
tr{
    height: 38px;
    

}

.p-button-rounded{
height: 25px;
width: 25px;
display: flex;
}
::ng-deep .blah{
  background-color: black !important;
  width: 150px !important;
  height: 30px;
}
::ng-deep .override-this
{
height: 30px;
align-items: center;
  width: 250px !important;
}
th{
  padding: 15px 5px;
  
}
td{
  padding: 0px 15px;
  
}

tbody{
  padding: 15px
}

.card {
  transition: width 0.3s ease-in-out;
  margin: 10px;
  top: 0px;
  bottom: 0px;
  transform: none;
  visibility: visible;
  border: 1px solid rgb(148 148 148 / 18%);
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: #80808014 0px 0px 10px 4px;
  top: 0px;
  bottom: 0px;
  transform: none;
  visibility: visible;
  border-radius: 10px;
  background-color: var(--primary-background)
}
.task-table-body-row{
  border-bottom:  1px solid #80808029
}
.task-table {
  border-collapse: collapse; /* Make sure borders collapse correctly */
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

