@use '@angular/material' as mat;

@font-face {
    font-family: 'Abel';
    src: url('../fonts/Abel.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Parkinsas';
    src: url('../fonts/Parkinsas.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
  font-family: 'NotoSansMono';
  src: url('../fonts/NotoSansMono.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  --background-color: #fff; // Default background (light theme)
  --text-color: #000;       // Default text color
  --primary-color: #ff6347;
  // Define other theme variables here
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
.dark-theme {
  --item-color: rgba(255, 255, 255, 0.685);
    --component-font-size: small;
    --padding-fix: 5px 10px;
    --filled-background: rgb(22, 21, 21);
    font-family: "Inter var", sans-serif;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    font-variation-settings: normal;
    --font-family: "Inter var", sans-serif;
    --font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    --surface-a: #ffffff;
    --surface-b: #f9fafb;
    --surface-c: #f3f4f6;
    --surface-d: #e5e7eb;
    --surface-e: #ffffff;
    --surface-f: #ffffff;
    --text-color: var(--other-color-soft);
    --text-color-secondary: #6b7280;
    --primary-color: var(--changeOutlineColor);
    --primary-color-text: #ffffff;
    --surface-0: #ffffff;
    --surface-50: #f9fafb;
    --surface-100: #f3f4f6;
    --surface-200: #e5e7eb;
    --surface-300: #d1d5db;
    --surface-400: #9ca3af;
    --surface-500: #6b7280;
    --surface-600: #4b5563;
    --surface-700: #374151;
    --surface-800: #1f2937;
    --surface-900: #111827;
    --gray-50: #f9fafb;
    --gray-100: #f3f4f6;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --gray-400: #9ca3af;
    --gray-500: #6b7280;
    --gray-600: #4b5563;
    --gray-700: #374151;
    --gray-800: #1f2937;
    --gray-900: #111827;
    --content-padding: 1.25rem;
    --inline-spacing: 0.5rem;
    --border-radius: 6px;
    --surface-ground: #f9fafb;
    --surface-section: #ffffff;
    --surface-card: #ffffff;
    --surface-overlay: #ffffff;
    --surface-border: #dfe7ef;
    --surface-hover: #f6f9fc;
    --focus-ring: 0 0 0 0.2rem var(--changeOutlineColor);
    --maskbg: rgba(0, 0, 0, 0.4);
    --highlight-bg: var(--changeOutlineColor);
    --highlight-text-color: var(--highlight-text-color);
    color-scheme: light;

  
  @font-face {
    font-family: "Inter var";
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: "Regular";
    src: url("../fonts/Inter-roman.var.woff2?v=3.19") format("woff2");
  }
  @font-face {
    font-family: "Inter var";
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
    font-named-instance: "Italic";
    src: url("../fonts/Inter-italic.var.woff2?v=3.19") format("woff2");
  }
  --button-background: rgba(56, 140, 153, 0);
  --button-hover-background: rgb(56, 140, 153);
  --color-secondary: #ffffffcc;
    --color: #fff;
    --color-of-items: rgb(224, 224, 224);
    --border-color: rgb(75, 75, 75);
    --border-color-solid: rgb(75, 75, 75);
    --error-color: rgb(190, 0, 0);
    --error-color-border: rgb(184, 77, 77);
    --other-color: #6b7280;
    --box-shadow-color-focus: var(--changeOutlineColor);
    --box-shadow-color: #404041;
    --other-color-soft: #4b5563;
    --other-color-soft-stroke: #4b5563;
    --other-color-soft-fill: #4b5563;
    --stroke-color: var(--other-color);
    --fill-color: var(--other-color);
    --background-color: #272727;
    --background-color-item: #383838b0;
    --background-color-lighter: rgb(61, 56, 56);
    --background-color-lighter-focus: #000000;
    --background-color-overlay: rgba(0, 0, 0, 0.384);
    --background-color-soft:   #3b3b3bee;
    --highlight-focus-background: rgb(119, 119, 119);
    --nth-child-background:  rgb(65, 65, 65);
    --filled-background-color: rgb(58, 58, 58);
    --filled-background-color-hover: rgb(7, 7, 7);
    --filled-background-color-focus: rgb(31, 31, 31);
    --background-color-head: rgb(109, 109, 109);
    --input-background: rgb(70, 92, 117);
    --changeBasicBorder: 1px solid rgba(148, 148, 148, 0.18);
    --changeBasicBoxShadow: rgba(128, 128, 128, 0.0784313725) 0px 0px 10px 4px;
    --changeBasicBackground: var(--background-color);
    --changeGradientColor: linear-gradient(90deg, #3babf600, rgb(255 255 255 / 29%));
    --changHighlightColor: #3babf669;
    --changeOutlineColor: rgb(56, 140, 153);
    --changeOutlineColorHover: rgb(96, 226, 247);
    --switch-color: #144464;
  --scrollbar-thumb: #388c99;
  --scrollbar-track: inset 0 0 5px #c4c1c1bb;
  --highlight-background-color: #0f0f0f;
  --highlight-text: #388c99;
  --selected-text-color: #388c99;
  --editor-header: #000000ea;
  // #c9c9c9
}

.light-theme {
  --button-background: rgb(56, 140, 153);
  --selected-text-color: #165077;
  --highlight-text: #055d86;
  --highlight-background-color: #EFF6FF;
  --filled-background: #f3f4f5;
  --item-color: rgba(61, 60, 60, 0.685);
  --scrollbar-track: inset 0 0 5px #80808040;
  --scrollbar-thumb: rgba(20, 101, 154, 0.17);;
  --component-font-size: small;
  --padding-fix: 5px 10px;
  --background-color-item: #ffffffb0;
  font-family: "Inter var", sans-serif;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  font-variation-settings: normal;
  --font-family: "Inter var", sans-serif;
  --font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  --content-padding: 1.25rem;
  --inline-spacing: 0.5rem;
  --border-radius: 6px;
  --surface-ground: #f9fafb;
  --surface-section: #ffffff;
  --surface-card: #ffffff;
  --surface-overlay: #ffffff;
  --surface-border: #dfe7ef;
  --surface-hover: #f6f9fc;
  --focus-ring: 0 0 0 0.2rem #BFDBFE;
  --maskbg: rgba(0, 0, 0, 0.4);
  --highlight-bg: #EFF6FF;
  --color-secondary: #313131cc;
  --color: #1b1b1b;
  --color-of-items: rgb(39, 39, 39);
  --border-color: #bbbaba7d;
  --border-color-solid: rgb(75, 75, 75);
  --error-color: rgb(190, 0, 0);
  --error-color-border: rgb(184, 77, 77);
  --other-color: #6b7280;
  --box-shadow-color-focus: var(--changeOutlineColor);
  --box-shadow-color: #404041;
  --other-color-soft: #4b5563;
  --other-color-soft-stroke: #4b5563;
  --other-color-soft-fill: #4b5563;
  --stroke-color: var(--other-color);
  --fill-color: var(--other-color);
  --background-color: #fff;
  --background-color-lighter: rgb(212, 196, 196);
  --background-color-lighter-focus: #eff5f66b;
  --background-color-overlay: rgba(255, 255, 255, 0.384);
  --background-color-soft: rgb(255, 255, 255);
  --highlight-focus-background: rgb(173, 173, 173);
  --nth-child-background:  rgb(196, 191, 191);
  --filled-background-color: rgb(184, 182, 182);
  --filled-background-color-hover: rgb(252, 249, 249);
  --filled-background-color-focus: rgb(255, 255, 255);
  --background-color-head: rgb(156, 155, 155);
  --input-background: rgb(112, 146, 184);
  --changeBasicBorder: 1px solid rgba(109, 107, 107, 0.18);
  --changeBasicBoxShadow: rgba(128, 128, 128, 0.0784313725) 0px 0px 10px 4px;
  --changeBasicBackground: var(--background-color);
  --changeGradientColor: linear-gradient(90deg, var(--changHighlightColor), rgba(255, 255, 255, 0.7));
  --changHighlightColor: #3babf634;
  --changeOutlineColor: #3babf6;
  --switch-color: #144464;
  --editor-header: #f9fafb;
}
// .w-100{
//   width: 100% !important;
// }

// .h-100{
//   height: 100% !important;
// }
.d-flex{
  display: flex;
}
.row{
  display: flex;
  flex-direction: row;
}

.col{
  display: flex;
  flex-direction: column;
}
body{
    font-size: 14px;
    font-family: GoogleSansMono, Arial, sans-serif;
    background-color: var(--background-color-lighter-focus);
    max-height: 100vh !important;
    color: var(--color);
    font-weight: 500;
}

::ng-deep ._container{
  max-height: 100%;
  max-width: 100%;
  max-width: calc(100% - 10x) !important;
}
.card
{
  border: var(--changeBasicBorder);
  background-color: var(--background-color);
  box-shadow: var(--changeBasicBoxShadow);
  border-radius: 10px;
  padding: 10px;
    max-height: calc(100vh - 30px) !important;
}
::ng-deep{
  p-overlay{
    position: absolute !important;
  }
  .p-overlay{
    position: absolute !important;
  }
  p-overlay-content{ position: static !important;}
  .p-overlay-content{ position: static !important; }
}
.content-container{
  flex-grow: 1; /* Ensures it takes up remaining space */
  overflow-y: auto;
  min-height: calc(100vh - 16px);
  padding: 0px 5px 0px 8px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: var( --scrollbar-track);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 5px;
  transition: all 0.15s ease-in-out;

  min-height: 30px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--changeOutlineColor);
  transition: all 0.15s ease-in-out;
}

::ng-deep .override-this.p-dropdown.p-component.p-inputwrapper {
  background-color: rgb(0, 191, 255) !important;
}
