// .text-right.forget-pass a{
//     font-size: 12px;
//     color: #d39e00;
//     text-decoration: none;
//   }
//   .sign-up{
//     color: #fff;
//   }
//   .sign-up a{
//     color: #d39e00;
//     font-weight: 600;
//     text-decoration: none;
//   }

// body{
  
//   background-color: rgb(192, 192, 192);
// }
// .row{
//     align-items: center;
//     justify-content: center;
//     height: calc(100vh - 20px);
//     width: 100%;
// }
// .auth-card{
//     height: 450px;
//     width: 300px;
//     display: flex;
//     align-items: center;
//     flex-direction: column;
//   background: #ffffff;  /* fallback for old browsers */
//   background: -webkit-linear-gradient(to right, #240b36, #cfcacb);  /* Chrome 10-25, Safari 5.1-6 */
//   background: linear-gradient(to right, #240b36, #b9b5b6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
//   border-radius: 5px;
//   box-shadow: 0px 0px 30px #f7f7f7;
// }
// label{
//   color: #fff;
//   font-weight: 700;
// }
// .user-image{
//   height: 70px;
// }
// .auth-avatar{
//   text-align: center;
//   margin-top: -50px;
// }
// .auth{
//   margin-top: 35px;
//   border: none;
//   border-radius: 6px;
// }
// .btn-my{
//   background-color: #d39e00;
//   border-color: #d39e00;
//   color: #fff;
// }
// .simple-keyboard {
//   max-width: 850px;
// }

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

::ng-deep body {
  display: flex;
  align-items: center;
  height: calc(100vh - 16px);
  justify-content: center;
  background: url("https://wallpapers.com/images/hd/2440x1440-office-background-2440-x-1440-82eeic10fd5b1qb6.jpg");
  background-size: cover; /* Ensures the image fills the entire viewport */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */

  padding: 0 !important;
}
body::before {
  content: "";
  position: absolute;

  background: url("https://wallpapers.com/images/hd/2440x1440-office-background-2440-x-1440-82eeic10fd5b1qb6.jpg");
  background-position: center;
  background-size: cover;
}
.wrapper {
    background-color: #5979746b;
  width: 400px;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}


form {
  display: flex;
  flex-direction: column;
}
h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
}
h4 {
    margin-bottom: 20px;
    color: #fff;
  }
.input-field {
  position: relative;
  border-bottom: 2px solid #ccc;
  margin: 15px 0;
}
.input-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #fff;
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
}
.input-field input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
}
.input-field input:focus~label,
.input-field input:valid~label {
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-120%);
}
.forget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0 35px 0;
  color: #fff;
}
#remember {
  accent-color: #fff;
}

.forget:hover{
  cursor: pointer;
}
.forget label {
  display: flex;
  align-items: center;
}
.forget label p {
  margin-left: 8px;
}
.wrapper a {
  color: #efefef;
  text-decoration: none;
}
.wrapper a:hover {
  text-decoration: underline;
}
button {
  background: #fff;
  color: #000;
  font-weight: 600;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: 0.3s ease;
}
button:hover {
  color: #fff;
  border-color: #fff;
  background: #4c847c8f;
}
button:active{
    scale: 0.97;
}
.register {
  text-align: center;
  margin-top: 30px;
  color: #fff;
}
// body {
//     background-image: url("https://plus.unsplash.com/premium_photo-1676654935937-109c7936b8ff?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bWluaW1hbCUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D");
// }


.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.spinner {
  display: inline-block;
  width: 160px;
  height: 160px;
  border: 2px solid transparent;
  border-top: 2px solid var(--changeOutlineColorHover);
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  transform: rotate(45deg);
}
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: -24px;
  animation: animloader 4s ease infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  animation: animloader2 2s ease infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
  }
  12% {
    box-shadow: 0 24px var(--changeOutlineColor), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
  }
  25% {
    box-shadow: 0 24px var(--changeOutlineColorHover), 24px 24px var(--changeOutlineColor), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
  }
  37% {
    box-shadow: 0 24px var(--changeOutlineColorHover), 24px 24px var(--changeOutlineColor), 24px 48px var(--changeOutlineColorHover), 0px 48px rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 0 24px var(--changeOutlineColor), 24px 24px var(--changeOutlineColorHover), 24px 48px var(--changeOutlineColor), 0px 48px var(--changeOutlineColorHover);
  }
  62% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px var(--changeOutlineColor), 24px 48px white, 0px 48px var(--changeOutlineColor);
  }
  75% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px var(--changeOutlineColorHover), 0px 48px var(--changeOutlineColor);
  }
  87% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px var(--changeOutlineColorHover);
  }
  100% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
  }
}

@keyframes animloader2 {
  0% {
    transform: translate(0, 0) rotateX(0) rotateY(0);
  }
  25% {
    transform: translate(100%, 0) rotateX(0) rotateY(180deg);
  }
  50% {
    transform: translate(100%, 100%) rotateX(-180deg) rotateY(180deg);
  }
  75% {
    transform: translate(0, 100%) rotateX(-180deg) rotateY(360deg);
  }
  100% {
    transform: translate(0, 0) rotateX(0) rotateY(360deg);
  }
}
    