<div>
    <mat-sidenav-container autosize>
        <mat-sidenav #sidenav fixedInViewport="true" mode="side" [opened]="true"
            [style.width]="_navMenuService.expanded() ? '250px' : '0px'">
            <inner-side-nav (toggleMenu)="toggleMenu($event)" [activeMenu]="activeMenu"></inner-side-nav>
        </mat-sidenav>

        <mat-sidenav-content [style.margin-left.px]="_navMenuService.expanded() ? 250 : 10">
            <div class="content-container">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>