<section class="sidenav">
    <div (click)="hideMenu()" class="toggle">
        <mat-icon>
            chevron_left
        </mat-icon>
        <p>{{name}}</p>
    </div>

    <ng-container *ngIf="activeMenu === 'user' ">
        <div class="user-placeholder-div ">
            <div class="user one">
            </div>
        </div>
    </ng-container>
    <mat-list class="nav">
        <div class="nav-item" mat-list-item [ngClass]="{'is-active': route.isActive}"
            *ngFor="let route of routeLinks; trackBy: trackByRoute" routerLinkActive="active-link"
            [routerLink]="route.link" (click)="onRouteClick(route)">
            <p matLine *ngIf="_navMenuService.expanded()">{{ route.name }}</p>
        </div>
    </mat-list>
</section>