/* Smooth transition for content width change */
.content {
  transition: margin-left 0.3s ease-in-out;
}

/* Smooth transitions for sidenav width */
mat-sidenav {
  overflow: hidden !important;
  transition: width 0.3s ease-in-out;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 60px;
  top: 0px;
  bottom: 0px;
  transform: none;
  visibility: visible;
  border: 1px solid rgb(148 148 148 / 18%);
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: #80808014 0px 0px 10px 4px;
  background-color: white;
}

/* Optional: styling for the sidenav and content */
mat-sidenav {
  transition: width 0.3s ease-in-out;
}

mat-sidenav-content {
  transition: margin-left 0.3s ease-in-out;
}

/* Optional: styling for the toggle button */
.toggle {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

/* Optional: styling for hover effects */
.nav a:hover mat-icon {
  color: #3f51b5;
}
